.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;

}

.logo-section img {
    width: 800px;
    height: 800px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-register-section {
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 60px;
    padding-top: 50px;

    background: #F0F0F0;
    border-radius: 20px;
    margin-left: 20px;

}

.rejestracja{
    font-size: 48px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.text-section {
    margin-left: 4%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.form-register-section form input{
    width: 375px;
    height: 25px;
    border-radius: 15px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;

    color: #000000;
}

.dane-register-section {
    margin-bottom: 40px;
}
.form-register-section form button {
    width: 400px;
    height: 60px;
    border-radius: 15px;
    padding: 5px;
    display: block;
    margin-bottom: 30px;

    color: #FFFFFF;
    border: 0px;
    background: #052435;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;


}
