.adminmainpage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.background-admin{
    position: absolute;
    width: 1900px;
    height: 214px;

    margin-top: 150px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 169px;
    text-align: center;

    color: #DADADA;

    filter: blur(2px);

}

.logo2-section img{

    position: absolute;
    width: 285px;
    height: 285px;
    left: -10px;
    top: -30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.menu2-bar{
    box-sizing: border-box;

    position: absolute;
    justify-content: center;
    margin: 0 15px;
    padding-left: 0px;

    display: flex;
    width: 800px;
    height: 55px;
    left: 561px;
    top: 20px;
    /* padding-top: 10px; */


    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.menu2-section {
    display: inline;
    padding-top: 10px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #000000;


}

.menu3-section {
    display: inline;

    padding-top: 10px;
    margin-right: 150px;
    margin-left: 150px;



    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;

    color: #000000;


}

.menu2-icon{
    position: relative;
    padding-right: 10px;
    width: 20px;
    height: 20px;
    top: 5px;
}

.adminmainpage2-container{
    position: absolute;
    width: 1670px;

    top: 140px;
    left: 150px;
    right: 150px;

    margin-top: 30px;
    display: flex;
}

.adminmainpage3-container{

    width: 253px;
    height: 680px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.adminmainpage-section{

    position: absolute;
    width: 214px;
    height: 44px;


    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.adminmainpage3-container li{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.adminmainpage3-container li button{

    width: 241px;
    height: 35px;
    margin-top: 20px;

    background: #4D5F62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.adminmainpage4-container{
    width: 1179px;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.search-box-adminmainpage {

    width: 720px;
    height: 46px;
    padding-left: 25px;
    padding-right: 40px;
    font-size: 20px;
    margin-left: -55px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;


    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;


}

.search-icon-adminmainpage{

    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    margin-left: 690px;
}

.adminmainpage-books-section{
    display: flex;
    top: 80px;
    justify-content: space-around;
    position: absolute;
    flex-wrap: wrap;
    width: 1179px;
    padding-inline: 30px;


}

.background-book-adminmainpage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;
    height: 411px;
    margin-top: 50px;
    margin-bottom: 30px;

    background: #5396A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.book-adminmainpage{
    margin-top: -35px;
    width: 212px;
    height: 293px;
    align-self: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.title-book-adminmainpage{
    margin-top: -10px;
    width: 311px;
    height: 53px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #FFFFFF;
}

.button-book-adminmainpage{
    width: 241px;
    height: 57px;
    align-self: center;
    margin-bottom: 25px;

    background: #052435;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}